// body {
// }

.viewport {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  // min-height: 100vh;
}

main {
  flex: 1;
}

.content, section {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1rem;
}
